.container {
    text-align: center;
    margin-top: 100px;
}

.button {
    padding: 200px 500px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.hover-text {
    font-size: 18px;
    margin-top: 10px;
}
